Django
django-crispy-forms
crispy-bootstrap5
Pillow
python-decouple
psycopg2-binary
djangorestframework
django-cors-headers
channels
channels-redis
redis
celer
django-celery-beat
django-celery-results
django-import-export
openpyxl
python-dateutil
django-filter