{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h3><i class="fas fa-qrcode"></i> Generate Slip Codes</h3>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        {{ form.num_codes|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.code_type|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        <label>&nbsp;</label>
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="fas fa-plus-circle"></i> Generate Codes
                        </button>
                    </div>
                </div>
                
                <hr>
                <h5>Select Students</h5>
                <div class="table-responsive mt-3">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="select-all"></th>
                                <th>Student ID</th>
                                <th>Name</th>
                                <th>Course</th>
                                <th>Year Level</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                                <tr>
                                    <td>
                                        <input type="checkbox" name="selected_students" value="{{ student.id }}" class="student-checkbox">
                                    </td>
                                    <td>{{ student.student_id }}</td>
                                    <td>{{ student.get_full_name }}</td>
                                    <td>{{ student.course }}</td>
                                    <td>{{ student.year_level }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5" class="text-center">No students found.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('select-all').addEventListener('change', function() {
        const checkboxes = document.querySelectorAll('.student-checkbox');
        checkboxes.forEach(checkbox => {
            checkbox.checked = this.checked;
        });
    });
</script>
{% endblock %}